#blogs-head {
    font-weight: 300;
    margin-left: 60px;
    color: black;
}

.blogs-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50%;
}

.blogs-index div {
    height: 300px;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    color: white;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(66, 61, 61, 0.616);
    font-size: 1.2em;
    border-radius: 1em;
    transition: .3s ease-in-out;
    background-size: cover;
}

.blogs-index div:hover {
    transform: scale(1.05);
}

.blogs-index a {
    text-decoration: none;
}

#post-one {
    background-image: url(../images/roland-wood-hvNSGjZYX9s-unsplash.jpg);
}

#post-two {
    background-image: url(../images/baptist-standaert-mx0DEnfYxic-unsplash.jpg);
}

#post-three {
    background-image: url(../images/jc-gellidon-3uqauucYhjQ-unsplash.jpg);
}

#post-four{
    background-image: url(../images/derch-4CMq1GxDSPA-unsplash.jpg);
}

#post-five {
    background-image: url(../images/aaron-burden-U4w7y0lowL8-unsplash.jpg);
}

#post-six {
    background-image: url(../images/priscilla-du-preez-IEhdpoA9zrY-unsplash.jpg);
}

@media (max-width: 1050px) {
    .blogs-index  div {
        height: 200px;
        width: 200px;
        font-size: 1em;
    }
}

@media (max-width: 750px) {
    .blogs-index {
        grid-template-columns: 1fr;
        grid-template-rows: none;
    }

    #blogs-head {
        text-align: center;
        margin: 0;
    }
}