.post-banner h1 {
    margin: 0 auto;
    padding-top: 20px;
    font-size: 5em;
    font-weight: 300;
    color: white;
    text-shadow: 1px 1px 1px rgba(66, 61, 61, 0.616);
}

#post-date {
    border-bottom: 2px solid rgb(226, 220, 220);
    padding: 10px 40px;
    font-weight: 300;
}

.post-banner {
    background-image: url(../images/roland-wood-hvNSGjZYX9s-unsplash.jpg);
    background-size: cover;
    text-align: center;
    background-position: 0 -100px;
    padding: 30px 0;
}

.post-content {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 20px 50px;
    font-weight: 300;
}

.post-content div {
    padding-left: 10px;
}

.about {
    display: grid;
    grid-template-columns: 20% 80%;
    border-top: 2px solid rgb(226, 220, 220);
}

#my-about {
    padding: 20px;
    font-weight: 300;
}

#my-about a {
    text-decoration: none;
    color: black;
}

#my-about a:hover {
    color: rgb(202, 109, 21);
}

#my-about h2 {
    font-weight: 400;
}

#my-pic {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

#my-pic img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

@media (max-width: 1000px) {
    .about {
        grid-template-columns: 100%;
        margin: 0 auto;
        text-align: center;
    }
}

@media (max-width: 900px) {
    .post-content {
        grid-template-columns: 100%;
        padding: 0 50px;
    }

    h2 {
        text-align: center;
    }
}

@media (max-width: 500px) {
    .post-banner h1 {
        font-size: 3em;
    }
}